/*Globais*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*border: solid;
  border-width: 1px;
  border-color: rgb(25, 194, 101);*/
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
} /*16px*/

:root {
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /*CORES*/
  --darkGrey: #2b2b2b;
  --white: #ebebeb;
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --letterSpacing: 1px;
}

/*BODY*/
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: var(--letterSpacing);
}

/*HEADER*/
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--darkGrey);
  padding: 0.5rem;
}

.navBarLogos {
  height: 4rem;
}

/*MONTH*/
.monthSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 9rem;
}

.monthSection h1 {
  font-family: "Montserrat", sans-serif;

  color: var(--white);
  background-color: var(--darkGrey);
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  border-radius: 5rem;
}

.monthSection img {
  padding: 1rem;
}

.menuSanduich {
  height: 2.5rem;
}

/*SALDOMENSAL*/
.saldoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 1rem;
}

.saldoContainer a {
  font-size: 1.5rem;
  font-weight: bold;
}

a:hover {
  color: #c9af26;
}

.saldoContainerSubDiv {
  padding: 3rem;
  background-color: #dae2e9;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.saldoContainerSubDiv h2 {
  padding-bottom: 1rem;
}

/*ButtonRound*/

.AddRoundButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

.ButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 2rem 2rem 2rem;
  text-align: center;
}

.ButtonContainer img {
  margin-top: 0.5rem;
  height: 4.5rem;
}
